﻿@model IPagedList<RestaurantListViewModel>
@{
    ViewBag.Title = "Home Page";
}

<form method="get" action="@Url.Action("Index")" data-otf-ajax="true" data-otf-target="#restaurantList" class="form-group" style="margin-top:10px;">
    <input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("Autocomplete")" class="form-control" style="display:inline !important" />
    <input type="submit" value="Search By Name" class="btn btn-default" />
</form>


@Html.Partial("_Restaurant", Model)

